{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/bundles/ratasxyrecargas/css/estilo.css">
{% endblock stylesheets %}
{% block body %}
<div id="header"></div>
<div id="content">
    <ul>
        <li><a href="{{ path('ventas') }}">Ventas</a></li>
        <li><a href="{{ path('cliente') }}">Clientes</a></li>
    </ul>
    {% block content %}
    {% endblock content %}
</div>
<div id="footer"></div>
{% endblock %}
